
database/config.sh

.DS_Store

# documentation MkDocs
venv_mkdocs/
.venv_mkdocs/
docs_modules/
modules/
docs/tableofcontent.md


cadastrapp/target/*
addons/cadastrapp/js/build/cadastrapp.js
database/test.sh
