<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
						 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
						 http://www.springframework.org/schema/context 
						 http://www.springframework.org/schema/context/spring-context-4.0.xsd 
						 http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd 
						 http://www.springframework.org/schema/jee 
						 http://www.springframework.org/schema/jee/spring-jee-4.0.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />

	<context:component-scan base-package="org.georchestra.cadastrapp"/>
	
	<jaxrs:server id="services" address="/">
		<jaxrs:serviceBeans>
			<bean class="org.georchestra.cadastrapp.service.BatimentController" />
			<bean class="org.georchestra.cadastrapp.service.BordereauParcellaireController" />
			<bean class="org.georchestra.cadastrapp.service.CommuneController" />
			<bean class="org.georchestra.cadastrapp.service.CoProprietaireController" />
			<bean class="org.georchestra.cadastrapp.service.HabitationController" />
			<bean class="org.georchestra.cadastrapp.service.InfoBulleController" />
			<bean class="org.georchestra.cadastrapp.service.ImageParcelleController" />
			<bean class="org.georchestra.cadastrapp.service.ParcelleController" />
			<bean class="org.georchestra.cadastrapp.service.ProprietaireController" />	
			<bean class="org.georchestra.cadastrapp.service.SectionController" />	
			<bean class="org.georchestra.cadastrapp.service.UniteCadastraleController" />
			<bean class="org.georchestra.cadastrapp.service.UniteFonciereController" />
			<bean class="org.georchestra.cadastrapp.service.VoieController" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
			<!--  Use to add context in logg and can be use for autorization filtering -->
			<bean class="org.georchestra.cadastrapp.providers.PreRequestFilter" />
			<bean class="org.georchestra.cadastrapp.providers.PreReponseFilter" />
		</jaxrs:providers>
	</jaxrs:server>
	
	<bean id="dbDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/cadastrapp" />
	</bean>

</beans>