.addon-cadastrapp {
  background-image: url(../img/icon.png) !important;
}

.gx-featureediting-zoom {
  background-image: url("../img/geosilk/zoom.png") !important;
}

.gx-featureediting-cadastrapp-point {
  background-image: url("../img/silk/bullet_red_add.png") !important;
}

.gx-featureediting-cadastrapp-line {
  background-image: url("../img/geosilk/line_red_add.png") !important;
}

.gx-featureediting-cadastrapp-polygon {
  background-image: url("../img/geosilk/shape_square_red_add.png") !important;
}
.gx-featureediting-cadastrapp-parcelle {
  background-image: url("../img/geosilk/parcelle.png") !important;
}

.gx-featureediting-cadastrapp-demande {
  background-image: url("../img/geosilk/demande.png") !important;
}

.gx-featureediting-delete {
  background-image: url("../img/silk/delete.png") !important;
}

.gx-featureediting-import {
  background-image: url("../img/silk/kml_import.png") !important;
}

.gx-featureediting-export {
  background-image: url("../img/silk/kml_export.png") !important;
}


.displayfieldCenter {
	text-align: center
}
.displayfieldGray {
	color: gray
}

.pdf-button {
    background-image: url(../img/silk/pdf_icon.png) !important;
    width:48px!important; height:48px!important;
}

.small-pdf-button {
    background-image: url(../img/silk/pdf_icon.png) !important;
    width:20px!important; height:20px!important;
}

.house-button {
    background-image: url(../img/silk/house.png) !important;
    width:20px!important; height:20px!important;
}

.help-button {
    background-image: url(../../../../app/img/famfamfam/information.png);
}

.cadastrapp-infobulle-parcelle{
     color: black;
}

.cadastrapp-infobulle-unite-fonciere{
     color: blue;
}

.habitationDetailsMenuTitle{
	background-color:silver;
	font-style: italic;
	padding:2px 2px;
	margin:5px 2px;
}

.add-button {
    background-image: url(../img/famfamfam/add.png) !important;
    width:16!important; height:15px!important;
}
.del-button {
    background-image: url(../img/famfamfam/delete.png) !important;
    width:16!important; height:15px!important; 
}
.addButton{
	padding-left:4px; padding-right:2px;
}

.delButton{
	padding-left:2px;
}

.radio label{
	font-size: 11px; 
}

.infobulle-label {
	font-weight: bold;
	text-align: right;
}

.fieldSet{
	padding-left:4px;
}

.comboStyle{
	width : 60px;
	overflow: auto;
}

